extends layout 

block content 

  h1=title 

  form(method="POST" action="")
    div(class="form-group")
      label(for="name") Name of manufacturer: 
      input(type="text" placeholder="Name of manufacturer" name="name" required="true" value=(undefined===manufacturer ? "" : manufacturer.name))
      label(for="country")
      input(type="text" placeholder="Manufacturer Country" name="country" required="true" value=(undefined===manufacturer ? "" : manufacturer.country))
  if errors 
    ul 
      for error in errors 
        li!= error.msg